
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

.nav-quick-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-quick-links li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}

.nav-quick-links li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

.nav-quick-links li a:hover, 
.nav-quick-links li a.active{
  color: #088178;
}

.nav-quick-links li a.active::after,
.nav-quick-links li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
  transition: 0.3s ease;
}

#mobile {
  display: none;
}

#mobile a {
  color: black;
}

#close {
  display: none;
}